<div class="card">
  <div class="card-header">
    <span>Dismissal Phase Actions</span>
    <app-loading-spinner [inline]="true" [spinnerWidth]="20" *ngIf="loading"></app-loading-spinner>
  </div>
  <div class="card-block">
    <h6 class="card-subtitle mb-3 text-muted">Resolve the discipline step if needed.</h6>
    <div class="row mt-2" *ngIf="prompt.hasQuestions">
      <div class="col-12">
        <h6 class="card-subtitle mb-3 text-muted">Resolve the following prompts:</h6>
        <app-prompt-selector
          [prompt]="prompt">
        </app-prompt-selector>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <form #submitActivityForm="ngForm" (ngSubmit)="onSubmit()">
          <button [disabled]="loading" type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
