<form #newGameForm="ngForm" (ngSubmit)="createGame()" *ngIf="!loading">
  <div class="form-group">
    <label for="totalPlayers">Total Players</label>
    <input [(ngModel)]="model.playerCount"
           type="number"
           min="{{minPlayers}}"
           max="{{maxPlayers}}"
           class="form-control"
           name="totalPlayers"
           id="totalPlayers"
           required>
  </div>
  <button type="submit" class="btn btn-success">Create</button>
</form>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
