<div class="card">
   <div class="card-block">
      <h4 class="card-title">Games list</h4>
      <table class="table table-sm mt-3">
         <thead>
         <tr>
            <th>Game Id</th>
            <th>Actors</th>
            <th>Metadata</th>
         </tr>
         </thead>
         <tbody *ngIf="!loading">
         <tr *ngFor="let summary of gameSummaries">
            <td>{{summary.id}}</td>
            <td>
               <div *ngFor="let actorId of summary.actorIds" class="p-1">
                  <small><a routerLink="/lobby/games/{{summary.id}}/{{actorId}}">{{actorId}}</a></small>
               </div>
            </td>
            <td>
               <t-json-viewer [json]="summary.metadata"></t-json-viewer>
            </td>
         </tr>
         </tbody>
      </table>
   </div>
</div>
