<div class="card-group">
   <ng-container *ngFor="let card of cards">
      <div
         (click)="!disabled && (!selectedCardId || card.id != selectedCardId) && onSelect(card)"
         *ngIf="(selectedCardId && card.id == selectedCardId) || !disabled"
         class="card action-card"
         [ngClass]="{'card-inverse card-primary': card.id == selectedCardId}">
         <div class="card-block">
            <h5 class="card-title">{{card.template.name}}</h5>
            <p class="small card-text">{{card.template.description}}</p>
         </div>
         <div class="card-footer">
            <small class="small card-text">
               <strong>Trouble cost:</strong> {{card.template.troubleCost}}
            </small>
         </div>
      </div>
   </ng-container>
</div>
