<div *ngIf="!loading">

  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Turn Details</h4>
      <ol>
        <li><strong>Game ID:</strong> {{accessor.gameId}}</li>
        <li>
          <strong>Actor ID:</strong>
          <span *ngIf="accessor.currentTurnActor">
            {{accessor.currentTurnActor.id}}
          </span>
        </li>
        <li><strong>Stage:</strong> {{accessor.stageType}}</li>
        <li><strong>Phase:</strong> {{accessor.phaseType}}</li>
      </ol>
    </div>
  </div>

  <div class="mt-2" *ngIf="actionType == ActionType.ActionCard">
    <app-classtime-action [gameSummary]="gameSummary"></app-classtime-action>
  </div>

  <div class="mt-2" *ngIf="actionType == ActionType.Base">
    <app-base-action [gameSummary]="gameSummary"></app-base-action>
  </div>

  <div class="mt-2" *ngIf="actionType == ActionType.Discipline">
    <app-discipline-action [gameSummary]="gameSummary"></app-discipline-action>
  </div>

</div>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
