<ng-container *ngIf="!refresher.isRefreshing">
   <app-game-board [gameSummary]="accessor.gameSummary"></app-game-board>

   <div class="mt-2" *ngIf="isActionCardAction">
      <app-classtime-action [gameSummary]="accessor.gameSummary"></app-classtime-action>
   </div>

   <div class="mt-2" *ngIf="isBaseAction">
      <app-base-action [gameSummary]="accessor.gameSummary"></app-base-action>
   </div>

   <div class="mt-2" *ngIf="isDisciplineAction">
      <app-discipline-action [gameSummary]="accessor.gameSummary"></app-discipline-action>
   </div>

   <div class="mt-2">
      <app-game-json [gameSummary]="accessor.gameSummary"></app-game-json>
   </div>
</ng-container>
<app-loading-spinner *ngIf="refresher.isRefreshing"></app-loading-spinner>
