<div *ngIf="!loading">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Action Options</h4>
      <h6 class="card-subtitle mb-3 text-muted">
        <span>Play an action card.</span>
      </h6>
      <div class="row mt-2">
        <div class="col-12">
          <app-card-selector
            [cards]="accessor.currentTurnActor.hand.actionCards"
            [selectedCardId]="selectedCardId"
            [disabled]="prompt.hasQuestions">
          </app-card-selector>
        </div>
      </div>
      <div class="row mt-4" *ngIf="prompt.hasQuestions">
        <div class="col-12">
          <h6 class="card-subtitle mb-3 text-muted">Resolve the following prompts:</h6>
          <app-prompt-selector
            [prompt]="prompt">
          </app-prompt-selector>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <form #submitActivityForm="ngForm" class="d-inline" (ngSubmit)="onSubmit()">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!selectedCardId">Submit</button>
          </form>
          <button
            *ngIf="prompt.hasQuestions"
            class="btn btn-info"
            (click)="refresh()">Start over
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
