<form *ngIf="!loading" #submitActivityForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Action Options</h4>
      <h6 class="card-subtitle mb-3 text-muted">Play an action card.</h6>
      <div class="row mt-2">
        <div class="col-12">
          <app-card-selector
            [cards]="accessor.currentTurnActor.hand.actionCards"
            [selectedCardId]="selectedCardId">
          </app-card-selector>
        </div>
      </div>
      <div class="row mt-4" *ngIf="gameSummary.publicData.turn.prompt.hasQuestions">
        <div class="col-12">
          <h6 class="card-subtitle mb-3 text-muted">Resolve the following prompts:</h6>
          <app-prompt-selector
            [prompt]="gameSummary.publicData.turn.prompt">
          </app-prompt-selector>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
