<div class="card">
  <div class="card-header">
    <span>Default Actions</span>
    <app-loading-spinner [inline]="true" [spinnerWidth]="20" *ngIf="loading"></app-loading-spinner>
  </div>
  <div class="card-block">
    <h6 class="card-subtitle mb-4 text-muted">Play a default action.</h6>
    <div class="row mt-2">
      <div class="col-12">
        <form #submitActivityForm="ngForm" (ngSubmit)="onSubmit()">
          <button type="submit" [disabled]="loading" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
