<ng-container *ngIf="!loading">
   <app-game-board [gameSummary]="gameSummary"></app-game-board>

   <div class="mt-2" *ngIf="actionType == ActionType.ActionCard">
      <app-classtime-action [gameSummary]="gameSummary"></app-classtime-action>
   </div>

   <div class="mt-2" *ngIf="actionType == ActionType.Base">
      <app-base-action [gameSummary]="gameSummary"></app-base-action>
   </div>

   <div class="mt-2" *ngIf="actionType == ActionType.Discipline">
      <app-discipline-action [gameSummary]="gameSummary"></app-discipline-action>
   </div>

   <div class="mt-2">
      <app-game-json [gameSummary]="gameSummary"></app-game-json>
   </div>
</ng-container>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
