<div class="mt-3 row">
  <div class="col-md-12">
    <div class="row">
      <p><strong>GameId:</strong> {{gameId}}</p>
    </div>
    <div class="row">
      <p><strong>ActorId:</strong> {{actorId}}</p>
    </div>
  </div>
  <div class="col-md-12" *ngIf="!actorId || !gameId">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/0c/44/da/0c44dacf1b038014a6f941131c5e8aa2.gif">
  </div>
  <div class="col-md-12" *ngIf="actorId && gameId">
    <app-game-detail [gameId]="gameId" [actorId]="actorId"></app-game-detail>
  </div>
</div>
